@media (max-width: 1900px) {
  .container {
    padding: 0 50px;
  }

  /* header */

  .header__container {
    margin-bottom: 40px;
  }

  .header__list {
    gap: 60px;
  }

  .logo__link-header {
    max-width: 150px;
    margin-right: 105px;
  }

  .header__nav {
    display: flex;
    align-items: flex-end;
    padding-top: 7px;
    /* margin-left: 105px; */
  }

  .header__link-search {
    margin-left: 40px;
  }

  /* banner */

  .banner__container {
    padding: 0;
    max-width: calc(100% - 100px);
    min-height: 668px;
    margin-bottom: 39px;
  }

  .banner__content {
    justify-content: initial;
    max-width: 100%;
    padding: 0 77px;
  }

  .h1-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 160px;
    padding-bottom: 16px;
    letter-spacing: 0.7px;
  }

  .banner__descr {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 60px;
  }

  .list__banner {
    min-height: 640px;
  }

  .banner__btn {
    padding: 22px 32px;
    font-size: 24px;
  }

  /* about-us */
  .about-us__container {
    margin-bottom: 80px;
  }


  .about-us__descr {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 60px;
  }

  .about-us__list {
    flex-wrap: wrap;
  }

  .list__btn-banner {
    margin-right: 46px;
    margin-bottom: 67px;
  }

  .list__picture-svg {
    padding-left: 76px;
    padding-right: 50px;
  }

  /* stages */
  .stages__container {
    margin-bottom: 82px;
  }

  .h2-title-stages {
    padding-bottom: 6px;
  }

  .h3-title-stages {
    margin: 0;
    padding-bottom: 8px;
  }

  .stages__descr-1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .stages__descr-2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 0;
    padding-bottom: 22px;
  }

  .stages__content {
    margin-right: 50px;
  }

  .stages-btn__left {
    margin: 0;
    margin-right: 24px;
  }

  .stages__banner {
    min-width: 437px;
    min-height: 689px;
  }

  /* questions */
  .questions__container {
    margin-bottom: 80px;
  }

  .questions__list {
    flex-direction: column;
  }

  .questions__item {
    --offsets: 0;
  }

  /* footer */
  .footer__descr {
    display: none;
  }

  .footer__container {
    padding: 50px;
  }

  .footer__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }

  .form__input {
    padding: 20px 24px;
  }

  .form__message {
    padding: 20px 24px;
  }
}

@media (max-width: 1024px) {
  /* header */
  .header__container {
    min-height: 69px;
    margin-bottom: 37px;
  }

  .header__nav {
    padding-top: 10px;
  }

  .logo__link-header {
    max-width: 110px;
    gap: 5.95px;
    margin-right: 44px;
  }

  .header__list {
    gap: 40px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__link-search {
    margin-left: 5px;
  }

  /* banner */
  .banner__content {
    padding: 0 40px;
  }

  .banner__container {
    border-radius: 24px;
    min-height: 662px;
    margin-bottom: 40px;
  }

  .h1-title {
    font-size: 50px;
  }

  .banner__descr {
    font-size: 18px;
  }

  /* about-us */
  .about-us__descr {
   margin-bottom: 54px;
  }

  .item-banner {
    min-height: 650px;
  }

  .item-banner::before {
    border-radius: 24px;
  }

  .list__banner {
    border-radius: 24px;
  }

  .list__descr-banner {
    padding: 34px 47px 34px 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .list__btn-banner {
    margin-right: 36px;
    margin-bottom: 67px;
  }

  .list__picture-svg {
    /* width: 114px;
    height: 99px; */
    padding: 68px 16px 68px 40px;
  }

  .list__article-right {
    padding-right: 44px;
  }

  .list__circle-svg {
    width: 72px;
    height: 72px;
  }

  .list__cube-svg {
    width: 71.4px;
    height: 79.2px;
  }

  .list__gear-svg {
    width: 84.4px;
    height: 79.2px;
  }

  .list__circle-svg-bottom {
    width: 75px;
    height: 83px;
  }

  .list__item-svg {
    width: 114px;
    height: 99px;
  }

  .item-right {
    min-height: 235px;
  }

  /* stages */
  .stages__block {
    flex-wrap: wrap-reverse;
  }

  .h2-title-stages {
    padding-bottom: 0px;
    margin-bottom: 31px;
  }

  .stages__banner {
    width: 100%;
    max-width: 100%;
    min-height: 284px;
    border-radius: 24px;
    margin-bottom: 41px;
  }

  .stages__content {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .h3-title-stages {
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .stages__descr-1,
  .stages__descr-2 {
    display: inline;
  }

  .stages__buttons {
    margin-top: 24px;
  }

  .stages-btn__left {
    margin-right: 28px;
  }

  /* questions */
  .questions__item {
    padding: 35px 65px 35px 40px;
  }

  /* footer */
  .footer__form {
    max-width: 768px;
    margin-bottom: 50px;
  }

  .footer__container {
    padding: 50px 177px 50px 50px;
    flex-direction: column-reverse;
  }
  .footer__item {
    display: none;
  }

  .footer-logo {
    max-width: 224px;
    margin-bottom: 16px;
  }

  .social {
    margin-top: 0;
  }

  .form__message {
    min-height: 150px;
  }

  .form__checkbox-text {
    padding-left: 18px;
  }

  .footer__btn {
    margin-right: 19px;
  }
}

@media (max-width: 768px) {
  /* header */
  .header__container {
    min-height: 130px;
    border-radius: 0 0 16px 16px;
    align-items: flex-start;
    padding: 0 15px;
    margin-bottom: 20px;
  }

  .header__link-search {
    display: block;
    margin-top: 12px;
  }

  .header__list {
    gap: 0;
  }

  .header__link {
    display: none;
  }

  /* banner */
  .banner__container {
    max-width: calc(100% - 30px);
    min-height: 308px;
    border-radius: 16px;
    margin-bottom: 60px;
    background: url("../img/index-banner-320.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .h1-title {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 60px;
    padding-bottom: 6px;
  }

  .banner__descr {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
  }

  .banner__btn {
    max-width: 162px;
    padding: 11.571px 25.142px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
  }

  .banner__content {
    padding: 0 21px;
    align-items: center;
  }

  /* about-us */
  .about-us__container {
    padding: 0 15px;
    margin-bottom: 59px;
  }

  .about-us__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .about-us__descr {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .about-us__list {
    flex-direction: column;
  }

  .list__banner {
    background: none;
    min-height: 0;
  }

  .item-banner {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    align-items: flex-start;
  }

  .item-banner {
    position: relative;
    justify-content: flex-end;
    border: none;
  }

  .item-banner::before {
    content: "";
    top: 0;
    min-height: 200px;
    background-image: url("../img/about-us-banner-320.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    z-index: none;
  }

  .list__descr-banner {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 0;
    margin-bottom: 12px;
  }

  .list__btn-banner {
    color: #F90;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    border: 2px solid #F90;
    margin: 0;
    padding: 10px 42px
  }

  .item-right {
    flex-direction: column;
    align-items: normal;
    border: none;
  }

  .list__article-right {
    padding: 0;
  }

  .list__picture-svg {
    padding: 0;
  }

  .list__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
  }

  .list__descr {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .list__item-svg {
    width: 64px;
    height: 62px;
  }

  .list__circle-svg {
    width: 43px;
    height: 62px;
  }

  .list__circle-svg-bottom {
    height: 67px;
  }

  .list__cube-svg {
    width: 43px;
    height: 56px;
  }

  .list__gear-svg {
    width: 43px;
    height: 42px;
  }

  /* stages */
  .stages__container {
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .h2-title-stages {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  .h3-title-stages {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .stages__descr-1,
  .stages__descr-2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .stages__banner {
    min-width: 290px;
    min-height: 160px;
    min-width: auto;
    border-radius: 16px;
    margin-bottom: 15px;
  }

  .stages__buttons {
    margin: 0;
    margin-top: 24px;
  }

  .stages-btn__left {
    margin-right: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    padding: 9px 41px;
  }

  .stages-btn__right {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    padding: 9px 30px
  }

  /* questions */
  .questions__container {
    padding: 0 15px;
  }

  .questions__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  .h3-title-mod {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
  }

  .questions__descr {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .questions__item {
    padding: 0;
    border: none;
  }

  /* footer */
}
