html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
  url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"),
  url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
  url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* glob */
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.btn {
  padding: 19px 38px;
  border-radius: 16px;
  border: 3px solid #F90;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}

.h2-title {
  color: #000;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 32px;
}

.h3-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.descr {
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

:root {
  --gap: 32px;
  --offsets: 1;
}

.logo__link {
  display: flex;
  align-items: center;
  gap: 12.16px;
}

/* header */
.header__container {
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
  border-radius: 0px 0px 32px 32px;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  gap: 85px;
}

.header__link {
  position: relative;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.header__link:focus {
  outline: 2px solid #F90;
  outline-offset: 5px;
  padding-bottom: 0;
  border-bottom: none;
}

.header__link:focus:hover {
  padding-bottom: 0;
  border-bottom: none;
}

.header__link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #F90;
}

.header__link:active:focus {
  color: #E1670E;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #E1670E;
}

.header__link-search:focus {
  outline: 2px solid #F90;
  outline-offset: 2px;
}

.header__search-svg path, rect {
  stroke: #000;
}

.header__search-svg rect {
  fill: #000;
}

.header__search-svg:hover path {
  stroke: #F90;
}

.header__search-svg:hover rect {
  fill: #F90;
  stroke: #F90;
}

/* banner */
.banner__container {
  background-image: url("../img/index-banner.jpg");
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 1770px;
  height: 620px;
  padding: 0 80px;
}

.banner__content {
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.h1-title {
  color: #FFF;
  font-size: 70px;
  font-weight: 800;
}

.banner__descr {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 90px;
}

.banner__btn {
  width: fit-content;
  padding: 18.571px 37.142px;
  border-radius: 16px;
  background: #F90;
  color: #FFF;
  font-size: 23px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}

.banner__btn:focus {
  background-color: #FFB84D;
}

.banner__btn:hover {
  background-color: #FFB84D;
}

.banner__btn:active {
  background-color: #E1670E;
}

/* about-us */
.about-us__container {
  margin-bottom: 110px;
}

.about-us__title {
  margin-bottom: 20px;
}

.about-us__descr {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about-us__list {
  gap: var(--gap);
  flex-wrap: wrap;
}

/* .list__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
} */

.list__banner {
  max-width: 869px;
  height: 622px;
  background-image: url("../img/about-us-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-banner {
  display: flex;
  position: relative;
  align-items: end;
  width: 100%;
  height: 100%;
}

.item-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 196px;
  background-color: rgba(0, 0, 0, 0.50);
  bottom: 0;
  z-index: 2;
  border-radius: 32px;
}

.list__descr-banner {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 160px;
  color: #FFF;
  font-weight: 700;
  line-height: 32px;
  z-index: 3;
}

.list__btn-banner {
  color: #FFF;
  font-weight: 700;
  margin-right: 50px;
  margin-bottom: 68px;
  z-index: 3;
  transition: background-color 0.3s ease-in-out;
}

.list__btn-banner:focus {
  background-color: #F90;
}

.list__btn-banner:hover {
  background-color: #F90;
}

.list__btn-banner:active {
  background-color: #E1670E;
}

.list__right-content {
  flex-direction: column;
  gap: var(--gap);
  max-width: 869px;
}

.item-right {
  display: flex;
  width: 100%;
  height: 295px;
  border: 1px solid #CACACA;
  border-radius: 32px;
  align-items: center;
}

.list__picture-svg {
  margin-left: 60px;
  margin-right: 50px;
}

.list__item-svg {
  position: relative;
  width: 190px;
  height: 165px;
}

.list__circle-svg {
  position: absolute;
  bottom: 0;
}

.list__cube-svg {
  position: absolute;
  top: 0;
  right: 0;
}

.list__gear-svg {
  position: absolute;
  top: 0;
  right: 0;
}

.list__title {
  white-space: nowrap;
}

.list__article-right {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-right: 120px;
}

/* stages */
.stages__container {
  margin-bottom: 105px;
}

.stages__block {
  flex-wrap: wrap-reverse;
  max-width: 100%;
}

.stages__content {
  max-width: 758px;
  margin-right: 142px;
}

.stages__descr-2 {
  margin-bottom: 18px;
}

.stages-btn__left {
  margin-right: 32px;
  background-color: #FF9900;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.stages-btn__left:focus {
  background-color: #F90;
}

.stages-btn__left:hover {
  background-color: #FFB84D;
}

.stages-btn__left:active {
  background-color: #E1670E;
}

.stages-btn__right {
  border: 1px solid #000;
  transition: background-color 0.3s ease-in-out;
}

.stages__banner {
  width: 870px;
  height: 460px;
  background-image: url("../img/stages-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-clip: border-box;
}

.stages-btn__right:focus {
  background-color: #666666;
  color: #FFFFFF;
}

.stages-btn__right:hover {
  background-color: #666666;
  color: #FFFFFF;
}

.stages-btn__right:active {
  background-color: #000000;
  color: #FFFFFF;
}

/* questions */
.questions__container {
  margin-bottom: 100px;
}

.questions__list {
  gap: var(--gap);
  flex-wrap: wrap;
  --offsets: 2;
}

.questions__item {
  align-items: center;
  border-radius: 32px;
  border: 1px solid #CACACA;
  padding: 65px 65px 65px 60px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

/* footer */
.footer__container {
  justify-content: space-between;
  padding: 50px 75px;
  background-color: #000;
}

.footer__nav-block {
  max-width: 252px;
}

.footer__form {
  flex-direction: column;
  max-width: 570px;
}

.footer__descr {
  max-width: 363px;
}

.logo__footer-fill {
  fill: #fff;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer__list {
  color: #CACACA;
  line-height: 32px;
}

.footer__link {
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.footer__link:hover {
  color: #FF9900;
}

.footer__link:active {
  color: #E1670E;
  outline: none;
}

.social {
  margin-top: 90px;
}

.social__link:not(:last-child) {
  padding-right: 25px;
}

.social__link:hover svg path {
  transition: fill 0.3s ease-in-out;
}

.social__link:focus svg {
  outline: 2px solid #F90;
  outline-offset: 5px;
}

.social__link:hover svg path {
  fill: #FF9900;
}

.social__link:active svg path {
  fill: #E1670E;
}

.social__link:active svg {
  outline: none;
}

.footer__form {
  --gap: 25px;
  gap: var(--gap);
  color: #CACACA;
}

.footer-title {
  margin: 0;
  color: #CACACA;
}

.form__input {
  box-sizing: border-box;
  padding: 14px 24px;
  border-radius: 16px;
  color: #CACACA;
  background-color: #414141;
}

.form__input:focus {
  outline: none;
  background-color: #666666;
}

.form__input:hover {
  background-color: #666666;
}

.form__input:active {
  color: #FFFFFF;
}

.form__message {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 14px 24px;
  width: 100%;
  height: 100%;
  background-color: #414141;
}

.form__message:focus {
  outline: none;
  background-color: #666666;
}

.form__message:hover {
  background-color: #666666;
}

.form__message:active {
  color: #FFFFFF;
}

::placeholder {
  color: #CACACA;
}

.form__push-date {
  margin-top: 7px;
}

.footer__btn {
  color: #FFFFFF;
  background-color: #FF9900;
  margin-right: 22px;
  transition: background-color 0.3s ease-in-out;
}

.footer__btn:focus {
  background-color: #FFB84D;
}

.footer__btn:hover {
  background-color: #FFB84D;
}

.footer__btn:active {
  background-color: #E1670E;
}

.footer__checkbox-label {
  user-select: none;
  cursor: pointer;
  color: #CACACA;
}

.form__checkbox-custom {
  position: absolute;
  appearance: none;
}

.form__checkbox-text {
  position: relative;
  padding-left: 19px;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  transform: translateY(-50%);
}

.form__checkbox-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
  opacity: 0;
}

.form__checkbox-custom:checked + .form__checkbox-text::after {
  opacity: 1;
}

.footer__descr {
  align-items: center;
}

.footer__descr-text {
  color: #CACACA;
}
